.fairpersonal__container {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    gap:2rem;
   border: var(--separator-line);
    box-shadow: var(--feature-shadow);
    -webkit-box-shadow: var(--feature-shadow);
    -moz-box-shadow: var(--feature-shadow);
}

.fairpersonal__container  > div {
  background: var(--color-bg-white);
  padding:2rem 2rem;
  
 /* border:  var(--separator-line);*/
  transition:var(--transition);
 
  /*box-shadow: var(--feature-shadow);
-webkit-box-shadow: var(--feature-shadow);
-moz-box-shadow: var(--feature-shadow);*/
}


.fairpersonal__container  > div:hover {
    background: transparent;
    /*border-color:var(--color-primary-variant);*/
    
    cursor:default;
}

.fairpersonal__container > div h3 {
  text-align:center;
  margin-bottom: 2rem;
  color:var(--color-primary);
}

.fairpersonal__container > div img {
    border-radius: 2%;
  }

.fairpersonal__content {
   display:grid;
   grid-template-columns: 1fr 1fr;
   row-gap:2rem;
}

.fairpersonal__details {
    display:flex;
    gap:1rem;

}

.fairpersonal__details-icon {
    margin-top: 6px;
    color:var(--color-primary);

}


.btn-pos {
   margin-top: 5%;
}


/*============== MEDIA QUERIES (KINDA LARGE DEVICES) ======================= */

@media screen and (max-width:1500px) {
    .fairpersonal__container {
        grid-template-columns: 1fr;

    }
}


/*============== MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width:1024px) {
    .fairpersonal__container {
        grid-template-columns: 1fr;

    }

    .fairpersonal__container > div {
        width:80%;
        padding:2rem;
        margin:0 auto;
    }

    .fairpersonal__content {
        padding: 1rem;
    }
}


/*============== MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width:600px) {
    .fairpersonal__container {
        
        gap: 1rem;

    }

    .fairpersonal__container > div {
        width:100%;
        padding:2rem 1rem;

    }




}

 




